In [164]:
import re
import nltk
import sklearn
import pandas as pd
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split as tts
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix

In [165]:
df = pd.read_csv('spam.csv', encoding = 'latin-1')

In [166]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [167]:
df.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""",GE,"GNT:-)"""
freq,4825,30,3,2,2

In [168]:
df.v1.value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [169]:
wnl = WordNetLemmatizer()

In [170]:
l1 = []
for i in range(len(df)) :
    words = re.sub('[^a-zA-Z]', " ", df['v2'][i])
    words = words.lower()
    words = words.split()
    words = [wnl.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]
    words = ' '.join(words)
    l1.append(words)

In [171]:
tf = TfidfVectorizer(max_features = 3500, strip_accents = None)

In [172]:
X = tf.fit_transform(l1).toarray()

In [173]:
X.shape

(5572, 3500)

In [174]:
map1 = {'ham':0, 'spam' :1}
Y = df['v1'].map(map1)

In [175]:
train_x, test_x, train_y, test_y = tts(X,Y)

In [176]:
mnb = MultinomialNB(alpha =0.15)
mnb.fit(train_x, train_y)
yp = mnb.predict(test_x)
cm = confusion_matrix(yp,test_y)
(cm[0][0] + cm[1][1])/len(test_x)

0.9863603732950467

In [177]:
cm

array([[1213,   15],
       [   4,  161]], dtype=int64)

In [180]:
out = pd.DataFrame(yp)

In [182]:
out.to_csv(r'C:\Users\Pranav\Desktop\Projects\spam classifier\out', index = True, header = True)

In [ ]:
#output probability closer to 1 means there is higher chance of message being spam.